###############
# DragonStone #
###############

#Ignore all game files
Source/Game/*
Resource/Game/*
Project/Windows/DragonStone/Debug/*
Project/Windows/DragonStone/Release/*
#Except...
!Source/Game/GameJam2014/
!Resource/Game/GameJam2014/

###########
# Windows #
###########

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Executables
*.exe
*.ilk
*.pdb

############
# Mac OS X #
############
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Executables
*.app

#########
# Linux #
#########
.*
!.gitignore
!.gitkeep
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out